.container {
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: rgb(24, 90, 90);
    box-shadow: 0 0 20px 8px rgb(248, 243, 243);
    border: solid 5px rgb(8, 8, 8);
}
table {
    color: white;
    margin: auto;
}
body {
    background-color: rgb(24, 102, 245);
}
form {
    line-height: 2em;
}
label, select {
    margin-left: 5px;
    width: 100px;
    display: block;
    float: left;
    line-height: 15px;
}
.input {
    width: 220px;
}
#hasil {
    margin: auto;
    border: solid 3px black;
    width: 400px;
    height: 500px;
    display: none;
    padding: 20px;
}
.text {
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
